.home{
    background-color: #141e4c;
}

.home-text{
    padding-top: 100px;
    color: white;
}

.home-h2{
    margin-left: 350px;
    font-family: monospace;
}

.home-p{
    margin-left: 500px;
    font-family: monospace;
}